.container{
	justify-items: center;
	height: fit-content;
  box-shadow: 1px 2px 2px 1px wheat;
	justify-self: center;
	margin: 20px;
	width: 550px;
	height: 350px;
}
.container:hover{
	  box-shadow: 1px 2px 2px 10px wheat;
		border: none;
		border-radius: 10px;

}
.input-area{
	text-align: center;
	/* border: 2px inset brown; */
	height: 150px;
	width: 100%;
	padding: 20px;
}
.speak-button{
padding: 10px;
width: 100px;
margin: 30px;
background-color: #00D4FF;
border: none;
border-radius: 5px;
box-shadow: 2px 2px 10px 5px gray ;

}
.heading{
	padding-top: 10px;
}
.heading h1{
	background: linear-gradient(45deg ,#090979,#00D4FF,#190FD9);
	color: white;
	padding: 10px;
	margin-bottom: 10px;
	border: none ;
	border-radius: 10px;

}
.speak-button:active{
	background-color: azure;
}
.pause-button{
	padding: 10px;
width: 100px;
margin: 30px;
background-color: orange;
border: none;
border-radius: 5px;
box-shadow: 2px 2px 10px 5px gray ;
}
textarea{
	font-weight: bold;
	box-shadow: 2px 2px 10px 1px #090979 ;
	border-radius: 10px;
	border: none;
	text-align: center;

}